<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<p th:text="${message}"/>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Series</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car, iterStat : ${cars}"
        th:style="${iterStat.odd}? 'font-weight: bold;'">
        <td th:text="${car.id}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.series}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>